#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

bochs = bochs
null =

tmpdir = $(CURDIR)/debian/tmp
pkg_bochs = $(CURDIR)/debian/bochs

DEB_BUILD_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_ARCH_CPU	?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
DEB_HOST_ARCH_OS	?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  INSTALL_PROGRAM += -s
endif

conf_args = \
	--host=$(DEB_HOST_GNU_TYPE) \
	--build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr \
	--mandir=\$${prefix}/share/man \
	\
	--with-x11 \
	--with-term \
	--with-sdl \
	--with-wx \
	\
	--enable-cdrom \
	--enable-vbe \
	--enable-pci \
	\
	--enable-cpu-level=5 \
	--enable-fpu \
	--enable-mmx \
	--enable-3dnow \
	\
	--enable-gdb-stub \
	--enable-idle-hack \
	--enable-all-optimizations \
	--enable-plugins \
	--enable-compressed-hd \
	$(null)

sb16 = dummy
cdrom = cdrom

ifeq ($(DEB_HOST_ARCH_OS),linux)
  kernel = linux
  conf_args += --enable-ne2000 --enable-pnic
  eth = eth0
  sb16 = linux
  com = ttyS0
ifeq ($(DEB_HOST_ARCH_CPU),i386)
  conf_args += --with-svga
endif
endif
ifeq ($(DEB_HOST_ARCH_OS),kfreebsd)
  kernel = fbsd
  conf_args += --enable-ne2000 --enable-pnic
  eth = xl0
  sb16 = freebsd
  com = cuua0
  cdrom = acd0
endif
ifeq ($(DEB_HOST_ARCH_OS),hurd)
  com = com0
endif
conf_args += --enable-sb16=$(sb16)

include debian/patch.mk

clean::
	dh_testdir
	dh_testroot
	
	rm -f *-stamp
	
	dh_clean

configure: patch config.status
config.status:
	`which autoconf2.50 || which autoconf` && \
	  ./configure $(conf_args)

build: build-arch

build-arch: configure
	dh_testdir
	
	$(MAKE)
	
ifeq ($(DEB_HOST_ARCH_CPU),i386)
	$(CC) misc/sb16/sb16ctrl.c -o misc/sb16/sb16ctrl
endif

build-indep: configure
	dh_testdir
	
	# bochsbios
	$(MAKE) -C bios

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -s
	
	# Hack to keep install target happy
	touch bios/BIOS-stamp \
	      bios/VGABIOS-stamp
	
	$(MAKE) install DESTDIR=$(tmpdir)
	
	# misc cleanup
	rm -f \
	  $(tmpdir)/usr/share/bochs/install-x11-fonts \
	  $(tmpdir)/usr/share/bochs/test-x11-fonts \
	  $(tmpdir)/usr/share/man/man1/bochs-dlx.1.gz \
	  $(tmpdir)/usr/share/doc/bochs/COPYING.gz \
	  $(tmpdir)/usr/bin/bochs-docs
	
	# bochs
	cat $(tmpdir)/usr/share/doc/bochs/bochsrc-sample.txt \
	| sed \
	  -e "s/#kernel#/$(kernel)/g" \
	  -e "s/#eth#/$(eth)/g" \
	  -e "s/#com#/$(com)/g" \
	  -e "s/#cdrom#/$(cdrom)/g" \
	| gzip -c9 \
	> $(pkg_bochs)/usr/share/doc/bochs/examples/bochsrc.gz
	rm -f $(tmpdir)/usr/share/doc/bochs/bochsrc-sample.txt
	
	mv $(tmpdir)/usr/bin/bochs \
	   $(tmpdir)/usr/bin/bochs-bin
	install -m755 debian/launcher \
		      $(tmpdir)/usr/bin/bochs
	
	cp -a debian/etc debian/tmp/
	chmod 755 $(tmpdir)/etc/bochs-init/init.sh
	
	# remove possible RPATH
	chrpath --delete $(tmpdir)/usr/lib/bochs/plugins/libbx_sdl.so
	
ifeq ($(DEB_HOST_ARCH_CPU),i386)
	cp misc/sb16/sb16ctrl \
	   $(tmpdir)/usr/bin/
endif

install-indep: build-indep install
	dh_testdir
	dh_testroot
	dh_installdirs -i
	
	cp bios/BIOS* \
	   $(tmpdir)/usr/share/bochs/

binary-indep: binary-arch build-indep install install-indep
	dh_testdir -i
	dh_testroot -i
	dh_install -i --sourcedir=$(tmpdir)
	
#	dh_installdebconf -i
	dh_installdocs -i
	dh_installexamples -i
#	dh_installmenu -i
#	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
#	dh_installinit -i
#	dh_installcron -i
#	dh_installman -i
#	dh_installinfo -i
	dh_installchangelogs -i CHANGES
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
#	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -s
	dh_testroot -s
	dh_install -s -Nbochs --sourcedir=$(tmpdir)
	dh_install -pbochs --sourcedir=$(tmpdir) # bochs should be last
	dh_installdebconf -s
	dh_installdocs -s
	dh_installexamples -s
	dh_installmenu -s
#	dh_installlogrotate -s
#	dh_installemacsen -s
#	dh_installpam -s
#	dh_installmime -s
#	dh_installinit -s
#	dh_installcron -s
	dh_installchangelogs -s CHANGES
	dh_link -s
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
#	dh_makeshlibs -s
	dh_installdeb -s
#	dh_perl -s
	dh_shlibdeps -s
	dh_gencontrol -s -Vsb16ctrl-bochs:Architecture="$(sb16ctrl_arches)"
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch

.PHONY: configure build build-arch build-indep clean install install-indep
.PHONY: binary-indep binary-arch binary

